.App {
  text-align: center;
  font-family: "Roboto";
  font-size: 12pt;
  box-sizing: border-box;
}

nav, form, th {
  background-color: rgb(233, 244, 247);
}

.navbar {
  font-size: 20pt;
}

a {
  display: inline-block;
}

a:hover, a:active {
  color: rgb(85, 85, 185);
}

.navbar.active, button {
  background-color: rgb(210, 210, 244);
}

.more {
  margin: 5px;
}

form {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

form > label {
  margin-left: 10px;
  display: flex;
  align-items: center
}

label > input {
  line-height: 2;
  padding: 0 5px 0 5px;
  margin: 10px;
  border: none;
  flex-grow: 1;
  margin-left: 5px;
}

button {
  border: none;
  margin: 5px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  font-size: 15pt;
}

table, span, .navbar  {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
}

tr:hover {
  background-color: rgb(242, 247, 248);
}

